@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w bazie pracowników!</h1>
</div>
<br />
<br />
<img src="image/logo.png" alt="logo" title="Logo firmy App Creator" />
